/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color for contrast */
}

/* Header */
header {
    background-color: #1f1f1f; /* Slightly lighter dark background */
    color: #ffffff; /* White text color */
    padding: 2rem 1.5rem; /* Ample padding for better spacing */
    text-align: center;
    border-bottom: 1px solid #333; /* Subtle border */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav a {
    color: #e0e0e0; /* Matching text color */
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: 500;
}

nav a:hover {
    color: #f0f0f0; /* Lighter color on hover */
    text-decoration: underline;
}

/* Card Styles */
.card {
    background-color: #1e1e1e; /* Card background color */
    padding: 0.5rem;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
    margin-bottom: 1rem; /* Reduced space between cards */
}

/* Sections */
section {
    padding: 2rem 1.5rem; /* Increased padding for a spacious feel */
    max-width: 900px;
    margin: 0 auto;
}

/* About Me Section */
#about {
    margin-bottom: 2rem; /* Space below the about section */
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Projects Section */
#projects {
    margin-bottom: 2rem; /* Space below the projects section */
}

.project {
    background-color: #1e1e1e; /* Slightly different background for projects */
    padding: 1.5rem;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    margin-bottom: 1rem; /* Reduced space between projects */
}

.project h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.project p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.project a {
    color: #1e90ff; /* Accent color for links */
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Resume Section */
#resume {
    margin-bottom: 2rem; /* Space below the resume section */
}

#resume p {
    font-size: 1.2rem
